@model MVCReviewApp.Models.Reviews
<link href="~/Content/reviewdetails.css" rel="stylesheet" />
@{
    ViewBag.Title = "Details";
}

<h2 id="dets">Review Details</h2>

<div>
    

    <div class="card border-primary mb-3" style="w-75">
        
        <div class="card-header">Type of Review: @Html.DisplayFor(model => model.TravelCategory.Name)</div>
        <div class="card-body text-primary">
            <h3 class="card-title">@Html.DisplayFor(model => model.Title)</h3>
            
           
            <p class="card-text"><img src="~/Content/images/kylie-jenner.png" />@Html.DisplayFor(model => model.Review).</p>
            <p>@Html.DisplayFor(model => model.Rating) Stars <img src="~/Content/images/star-half-empty.png" /></p>

            <div class="card-footer">
                <med class="text-muted">Date Posted:  @Html.DisplayFor(model => model.PublishedDate)</med>
            </div>
        </div>




        @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
    </div>
</div>
    @*<p>Review Type:  @Html.DisplayFor(model => model.TravelCategory.Name)</p>
            <p>  @Html.DisplayFor(model => model.Review)</p>

        </div>*@
    @Html.ActionLink("Back to List", "Index")





   
           
        
